.table-type-1 {
	background: white;
	border: none;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0 0 3px #b1b1b1;
}

table {
	width: 100%;
	background-color: inherit;
	border-collapse: collapse;
	border-spacing: 0;
}

tr {
	border-bottom: 1px solid #f1f1f1;
	text-align: right;
	td:first-child {
		text-align: left;
	}
	&:last-child {
		border-bottom: none;
	}
}

thead {
	tr {
		background: #f1f1f1;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
		text-align: right;
		th {
			font-weight: unset;
			padding: 10px 15px;
			&:first-child {
				text-align: left;
			}
		}
	}
}

td {
	font-weight: unset;
	padding: 15px;
	border-right: 1px solid #f1f1f1;
	&:last-child {
		border-right: none;
	}
}

tr.heading {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #636363;
	color: white;
	border-bottom: none;
	td {
		padding: 17px 15px;
		border-right: none;
		border-left: none;
	}
}

tr.subheading {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #d4d4d4;
	border-bottom: none;
	td {
		padding: 10px 15px;
		border-right: none;
		border-left: none;
	}
}

tr.highlight {
	td:first-child {
		border-left: 5px solid #2196f3;
	}
}

tr.highlight2 {
	td:first-child {
		border-left: 5px solid darkblue;
	}
}

tr.subrow {
	td:first-child {
		padding-left: 55px;
	}
}
